<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167934473196-5d8kfsd88qrh60dpijd0ctfop01d4314.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167934473196-5d8kfsd88qrh60dpijd0ctfop01d4314</string>
	<key>API_KEY</key>
	<string>AIzaSyCDBfGfGjbR1OqYEnB_VCeQYgTg26TxJF4</string>
	<key>GCM_SENDER_ID</key>
	<string>167934473196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-reactnative-7b69a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-reactnative-7b69a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167934473196:ios:257e7543237f7bba8946c9</string>
	<key>DATABASE_URL</key>
	<string>https://fir-reactnative-7b69a.firebaseio.com</string>
</dict>
</plist>